.btn-circle {
    width: 180px;
    height: 180px;
    text-align: center;
    word-wrap: break-word;
    padding: 6px 0;
    font-size: 18px;
    line-height: 1.42;
    border-radius: 90px;
    white-space: normal;
  }

.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    transform: scale(1.5);
}